@using TryParse.Models;
@model IEnumerable<IModel>
@{
    ViewData["Title"] = "User";
    int idInc = default;
}



<div class="container border bordercolor bg-dark bg-opacity-25">
    <p class="my-2 mx-2 fw-gradient mb-me-auto " style="font-size: 20px; font-weight:500;">Description</p>
    <ul class="text-justify">
        <li>
            <p class="fw-conc">
                Post the information that you think is necessary! But please note that all <span style="font-style:italic">Parssa</span>'s are checked by the administration,
                so we advise you to filter the content.
            </p>
        </li>
        <li>
            <p class="fw-conc">
                Or automate the process, using our integrated telegram bot, but in this case,
                the result may contain <span class="text-decoration-underline">little or no information</span> <strong>freely available on the Internet.</strong>
            </p>
        </li>
    </ul> 
</div>
<hr />
<div class="container d-flex flex-wrap align-items-center justify-content-center pt-4">
    <form method="post" action="~/User/api/searchcard" id="srchform" class="row mb-2 me-lg-auto mb-md-0">
        <input type="search" onsearch="onSearch()" class="col-sm form-control" name="src" id="srchitem" placeholder="Find your flame..." aria-label="Search">
    </form>

    <div class="col-12 col-lg-auto mb-3 mb-lg-0 ">
        <button type="button" data-bs-toggle="modal" data-bs-target="#cardModal" class="my-1 btn btn-outline-danger">Create a new Parsed-Card</button>
        <a href="https://t.me/MagmaLord14"><button type="button" class="my-1 btn btn-purple ">Create with our Telegram-Bot</button></a>
    </div>
</div>

<div class="form-group mt-3 row">
    <label class="text-white col-sm-1 col-form-label ms-2">Sort by <span class="ms-2 text-secondary">|</span></label>
    <form method="post" id="form-radio" action="~/User/api/filtercard">
        <div class="col-10 ms-2">
             <input type="radio" name="toogle-radio" id="sName" onclick="onSelectRadio(this.id)"  class="form-check-input" />   <label for="sName" class="text-white ms-2 me-3">Name</label>
             <input type="radio" name="toogle-radio" id="sTb" onclick="onSelectRadio(this.id)"  class="form-check-input" />     <label for="sTB" class="text-white ms-2 me-3">Telegram-Bot</label>
             <input type="radio" name="toogle-radio" id="sParssa"  onclick="onSelectRadio(this.id)" class="form-check-input " /> <label for="sParssa" class="text-white ms-2 me-3">Parssa</label>
             <a href="/">
                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi mb-1 bi-arrow-repeat" viewBox="0 0 16 16">
                    <path d="M11.534 7h3.932a.25.25 0 0 1 .192.41l-1.966 2.36a.25.25 0 0 1-.384 0l-1.966-2.36a.25.25 0 0 1 .192-.41zm-11 2h3.932a.25.25 0 0 0 .192-.41L2.692 6.23a.25.25 0 0 0-.384 0L.342 8.59A.25.25 0 0 0 .534 9z"/>
                    <path fill-rule="evenodd" d="M8 3c-1.552 0-2.94.707-3.857 1.818a.5.5 0 1 1-.771-.636A6.002 6.002 0 0 1 13.917 7H12.9A5.002 5.002 0 0 0 8 3zM3.1 9a5.002 5.002 0 0 0 8.757 2.182.5.5 0 1 1 .771.636A6.002 6.002 0 0 1 2.083 9H3.1z"/>
                </svg>
             </a>
        </div>
    </form>
</div>

<div class="min-vh-100 container pt-4 pb-4 mt-4 container-fluid border border-3 rounded bg-gray">
    <div class="text-white-50 text-center"  id="empty-container" style="margin-top: 30vh;">
        <h3 class="font-monospace">Nothing here, it sad:(</h3>
    </div>
    <div id="accord-change" class="accordion">
        <div class="row row-cols-1 row-cols-md-3 g-4">
            @foreach (CardModel Identity in Model)
            {
                <script>
                    const target = document.getElementById("empty-container");
                    if (target.hidden != "hidden")
                        target.hidden = "hidden";
                 </script>
                <style>
                    #acc-img-@idInc{
                        background-position-x: 50%;
                        background-image: linear-gradient(270deg, rgba(0,0,0,0.15), rgba(0, 0, 0, 0.7) ), url(@Identity.Photo);
                    }
                </style>
                <div class="col">
                    <p class="me-5 ms-5 border-end border-start border-top border-secondary text-secondary text-center">@Identity.DateTime.DayOfWeek, @Identity.DateTime.Day.@Identity.DateTime.Month.@Identity.DateTime.Year</p>
                    <div class="accordion-item m-2">
                        <div class="accordion-header" id="header-@idInc">
                            <button class="accordion-button" id="acc-img-@idInc" style="background-size: cover; background-position-y: 50%;" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-@idInc" aria-expanded="true" aria-controls="collapse-@idInc">
                                <span style="font-size:larger; font-weight:600 ; color:darkgray">@Identity.Name</span>
                            </button>

                        </div>
                        <div class="accordion-collapse collapse" id="collapse-@idInc" aria-labelledby="header-@idInc">
                            <div class="accordion-body">
                                <div class="card" style="background-color: rgba(0,0,0,0.6); ">
                                    <img class="card-img-top" src="@Identity.Photo"/>
                                    <div class="card-header">
                                        <div class="wht-text card-title">
                                            <h5>@Identity.Name</h5>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div class="card-text">
                                            <p class="wht-text"><strong>Phone</strong>: @Identity.Number</p>
                                            <p class="wht-text"><strong>Description</strong>: @Identity.Description </p>
                                            <p class="wht-text"><strong>More information</strong>: @Identity.Info </p>

                                        </div>

                                    </div>
                                    <div class="card-footer text-muted text-center">

                                        @if ((365 * DateTime.Now.Year + DateTime.Now.DayOfYear) - (365 * Identity.DateTime.Year + Identity.DateTime.DayOfYear) <= 30)
                                        {
                                            @if (DateTime.Now.DayOfYear - Identity.DateTime.DayOfYear > 1)
                                            {
                                                <text>@Identity.DateTime.Day days ago</text>
                                            }
                                            else if (DateTime.Now.DayOfYear - Identity.DateTime.DayOfYear == 1)
                                            {
                                                <text>Yesterday</text>
                                            }
                                            else if ((365 * DateTime.Now.Year + DateTime.Now.DayOfYear) - (365 * Identity.DateTime.Year + Identity.DateTime.DayOfYear) == 0)
                                            {
                                                <text>Today</text>
                                            }
                                        }
                                        else if ((365 * DateTime.Now.Year + DateTime.Now.DayOfYear) - (365 * Identity.DateTime.Year + Identity.DateTime.DayOfYear) is (>30 and <=365))
                                        {
                                            <span id="month @idInc"></span>
                                        }
                                        else if ((365 * DateTime.Now.Year + DateTime.Now.DayOfYear) - (365 * Identity.DateTime.Year + Identity.DateTime.DayOfYear) > 365)
                                        {
                                            <span id="year @idInc"></span>
                                        }
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <p class="me-5 ms-5 border-end border-start border-bottom border-secondary text-secondary text-center">Created by @Identity.Creator</p>
                </div>
                <script>
                    let obj = document.getElementById("year @idInc");
                    if ( obj != null)
                        obj.innerText = Diff(@DateTime.Now.Year, @Identity.DateTime.Year) + " years ago"
                </script>
                <script>
                    let obj1 = document.getElementById("year @idInc");
                    if (obj1 != null)
                        obj1.innerText = Diff(@DateTime.Now.Month, @Identity.DateTime.Month) + " month ago";
                </script>
                ++idInc;

            }
        </div>
    </div>

</div>

<div id="cardModal" class="modal fade" aria-hidden="true" aria-labelledby="cardModalLabel" tabindex="-1">
    <div class="modal-dialog ">
        <div class="modal-content bg-dark rounded">
            <div class="modal-header text-white">
                <h5 class="modal-title" id="cardModalLabel">New ParsedCard</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-white">
                <form method="post" action="~/User/api">
                    <div class="mb-3">
                        <label for="message-text" class="col-form-label">Username</label>
                        <input type="text" required class="form-control text-white form-focus" name="Name" id="name" />
                    </div>

                    <div class="mb-3">
                        <label for="message-text" class="col-form-label">Number:</label>
                        <input type="tel" name="Number" maxlength="12" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" placeholder="e.g, 910-223-2341" class=" text-white form-focus form-control" id="number" />
                    </div>
                    <div class="mb-3">
                        <label for="descrition-text" class="col-form-label">Description:</label>
                        <textarea required name="Description" class="form-control text-white form-focus" id="desc"></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="descrition-text" class="col-form-label">More Info:</label>
                        <textarea required name="Info" class="form-control text-white form-focus" id="morei"></textarea>
                    </div>
                    <div class="mb-3">
                        <input name="Photo" class="form-control form-focus text-white" id="photo" type="url" />
                    </div>

                    <div class="modal-footer">
                        <button type="reset" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-danger">Post</button>
                    </div>
                </form>
            </div>

        </div>

        
    </div>
</div>